--index-url https://download.pytorch.org/whl/cu128
--extra-index-url https://pypi.org/simple

torch==2.8.0+cu128
torchaudio==2.8.0+cu128
torchvision==0.23.0+cu128

docling
fastapi
langchain
langchain_huggingface
langchain_openai
numpy
openai
pdfplumber
pydantic
PyMuPDF
python-dotenv
python-multipart
scipy
tiktoken
uvicorn

# development & testing tools
pytest
